
//example of css combinator
body > h1 {
    color: dimgray;
    text-align: center;
  }
  
  .container {
    display: flex;
    background-color: floralwhite;
  }
  .container > div {
    height: 30vh;
    width: 15vw;
  
    margin: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    background-color:rgb(0, 107, 102) ;
    
    
  }
  
  .container > div:hover {
    border-radius: 20px;
    height: 35vh;
    width: 16vw;
    border: black 5px solid;
    // css animation
    animation-name: example;
    animation-duration: 6s;
    // CSS transition
    transform: translateY(100px);
    transition-duration: 6s;
    transform-style:unset;
    transition-delay: 1s;
  }
  @keyframes example {
    from {background-color: rgb(0, 107, 102);}
    to {background-color: rgba(119, 0, 255, 0.336);}
  }