
body > h1 {
  color: dimgray;
  text-align: center;
}
.container > div {
  height: 30vh;
  width: 15vw;

  margin: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 50px;
  background-color:rgb(0, 107, 102) ;
  
}



