.frm{
    box-sizing: border-box;
    margin: 20px;

}
input{
    box-sizing: border-box;
    padding: 5px;
}
label{
    font-size:larger ;
}
h1{
    color:blue;
}
button{
    box-sizing: border-box;
    padding: 10px;
    width: 15%;
    margin-left: 50px;

}